@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNow';
  src: url('./assets/fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNow';
  src: url('./assets/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNow';
  src: url('./assets/fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNow';
  src: url('./assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@theme {
  --font-helvetica: "HelveticaNow", "sans-serif";
}

.animate-fade-in {
  animation: fadeInUp 1.2s ease-out forwards;
}